.site-bg {
    background-color: #f0f4c3;
    background-image: url("../images/food.png");
}

.header-bg {
    background-color: #006064;
    background-image: url("../images/food.png");
}

.food-bg {
    background-color: #dce775;
    background-image: url("../images/food.png");
}

.flash-bg {
    background-color: #212121;
    background-image: url("../images/food.png");
}