{% block footer %}
<footer class="page-footer header-bg">
        <div class="header-opacity">
            <div class="container amber-text">
                <div class="row">
                    <div class="col l8 offset-l2 s12 center-align amber-text">
                        <div class="tooltip">
                            <span class="tooltiptext">For demo purposes</span>
                            <a class="mailto amber-text disabled" href="mailto:info@little-munchkins.com">info@little-munchkins.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col l8 offset-l2 s12 center-align amber-text">
                            © 2021 Copyright Little Munchkins
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}