{% block header %}
    <header>
        <nav class="header-bg">
            <div class="header-opacity">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo left amber-text">Little Munchkins.</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">
                        {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user'])}}" class="amber-text">My
                                Profile</a></li>
                        <li><a href="{{ url_for('search', id='0')}}" class="amber-text">Search</a></li>
                        <li><a href="{{ url_for('recipebuilder', id='0')}}" class="amber-text">My Recipe Builder</a></li>
                        <li><a href="{{ url_for('logout')}}" class="amber-text">Log Out</a></li>
                        {% else %}
                        <li><a href="{{ url_for('home')}}" class="amber-text">Home</a></li>
                        <li><a href="{{ url_for('login')}}" class="amber-text">Log In</a></li>
                        <li><a href="{{ url_for('register')}}" class="amber-text">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user'])}}">My Profile</a></li>
            <li><a href="{{ url_for('search', id='0')}}">Search</a></li>
            <li><a href="{{ url_for('recipebuilder', id='0')}}">My Recipe Builder</a></li>
            <li><a href="{{ url_for('logout')}}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('home')}}">Home</a></li>
            <li><a href="{{ url_for('login')}}">Log In</a></li>
            <li><a href="{{ url_for('register')}}">Register</a></li>
            {% endif %}
        </ul>
    </header>
{% endblock %}