{% extends "base_overlay.html" %}
{% block content %}
<div class="profile-wrapper" id="profile-wrap">
    <div class="row">
        <div class="col s12 m4" id="profile">
            <div class="card-panel">
                <h5>Profile</h5>
                <a href="#" id="user-edit" class="black-text"><i class="material-icons">edit</i></a>
                <form method="POST" action="/edituser">
                    <label for="username">username</label>
                    <input disabled type="text" name="username" value="{{ user.username }}" class="validate" required/>

                    <input type="password" name="password" id="password" value="{{ user.password }}" style="display: none;" class="validate" required/>

                    <label for="email">email</label>
                    <input disabled type="email" name="email" value="{{ user.email }}" class="validate" required/>

                    <label for="first_name">first name</label>
                    <input disabled type="text" name="first_name" value="{{ user.first_name|title }}" class="validate" required/>

                    <label for="last_name">last name</label>
                    <input disabled type="text" name="last_name" value="{{ user.last_name|title }}" class="validate" required/>

                    <label for="dob">date of birth</label>
                    <input disabled type="date" id="dob" name="dob"  class="datepicker" value="{{ user.dob }}" required>

                    <label for="country">country</label>
                    <select class="browser-default" name="country" id="country" disabled required>
                        <option value="{{ user.country|title }}" selected>{{ user.country|title }}</option>
                    </select>

                    <input disabled type="text" name="favourites" value="{{ user.favourites }}" style="display: none;"/>
                    <input disabled type="text" name="_id" value="{{ user._id }}" style="display: none;"/>

                    <input type="submit" value="Submit" class="btn profile-submit-btn" id="user-edit-submit" style="display: none;" onclick="return confirm('Submit changes?');">
                    <input type="submit" value="Cancel" class="btn profile-submit-btn orange" id="user-edit-cancel" style="display: none;" formaction="/profile/{{session.user}}" onclick="return confirm('Cancel changes?');">
                    <input type="submit" value="Delete" class="btn profile-submit-btn red" id="user-edit-delete" style="display: none;" formaction="/deleteuser" onclick="return confirm('Are you sure you want to delete your account?');">
                </form>
            </div>
        </div>
        <div class="col s12 m4" id="my-recipes">
             <div class="card-panel">
                <h5>My Recipes</h5>
                {% if (myrecipes is not defined) or (myrecipes|length) %}
                    <p>You have not created any recipes yet.</p>
                {% else %}
                    {% include "my_recipes.html" %}
                {% endif %}
            </div>
        </div>
        <div class="col s12 m4" id="my-favourites">
            <div class="card-panel">
                <h5>My Favourites</h5>
                {% if (myfavourites is not defined) or (myfavourites|length) %}
                    <p>You have no favourites yet.</p>
                {% else %}
                    {% include "my_favourites.html" %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}