{% extends "base_overlay.html" %}
{% block content %}
<div class="profile-wrapper" id="profile-wrap">
    <div class="row">
        <div class="col s12 m8 offset-m2 l4" id="profile">
            <div class="card-panel">
                <ul class="collapsible">
                    <li>
                <h5 class="collapsible-header">Profile</h5>
                    <div class="collapsible-body">
                        <a href="#" id="user-edit" class="black-text"><i class="material-icons">edit</i></a>
                        <!-- profile form -->
                        <form method="POST" action="/user/edit">
                            <!-- username -->
                            <label for="username">username</label>
                            <input disabled type="text" name="username" value="{{ user.username }}" minlength="1" maxlength="20" pattern="^(?!.* {1})[a-zA-z0-9-_]{1,20}$" class="validate" required/>

                            <!-- email -->
                            <label for="email">email</label>
                            <input disabled type="email" name="email" value="{{ user.email }}" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="validate" required/>

                            <!-- first name -->
                            <label for="first_name">first name</label>
                            <input disabled type="text" name="first_name" value="{{ user.first_name|title }}" minlength="1" maxlength="20" pattern="^(?!.* {2})[a-zA-z0-9-_]{1,20}$" class="validate" required/>

                            <!-- last name -->
                            <label for="last_name">last name</label>
                            <input disabled type="text" name="last_name" value="{{ user.last_name|title }}" minlength="1" maxlength="20" pattern="^(?!.* {2})[a-zA-z0-9-_]{1,20}$" class="validate" required/>

                            <!-- dob -->
                            <label for="dob">date of birth</label>
                            <input disabled type="date" id="dob" name="dob"  class="datepicker" value="{{ user.dob }}" required>

                            <!-- country -->
                            <label for="country">country</label>
                            <select class="browser-default" name="country" id="country" disabled required>
                                <option value="{{ user.country|title }}" selected>{{ user.country|title }}</option>
                            </select>

                            <input disabled type="hidden" name="favourites" value="{{ user.favourites }}" style="display: none;"/>
                            <input disabled type="hidden" name="_id" value="{{ user._id }}" style="display: none;" required/>
                            <input disabled type="hidden" name="password" id="password" value="{{ user.password }}" style="display: none;" class="validate" required/>

                            <!-- btns -->
                            <input disabled type="submit" value="Submit" class="btn profile-submit-btn" id="user-edit-submit">
                            <input disabled type="submit" value="Cancel" class="btn profile-submit-btn orange" id="user-edit-cancel" formaction="/profile/{{session.user}}">
                            <input disabled type="submit" value="Delete" class="btn profile-submit-btn red" id="user-edit-delete" formaction="/user/delete" onclick="return confirm('Are you sure you want to delete your account?');">
                        </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- my recipes -->
        <div class="col s12 m8 offset-m2 l4" id="my-recipes">
             <div class="card-panel">
                <ul class="collapsible">
                    <li>
                        <h5 class="collapsible-header">My Recipes</h5>
                        <div class="collapsible-body">
                            {% if (myrecipes is not defined) or (myrecipes|length == 0) %}
                                <p>You have not created any recipes yet.</p>
                            {% else %}
                                {% include "my_recipes.html" %}
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- my favourites -->
        <div class="col s12 m8 offset-m2 l4" id="my-favourites">
            <div class="card-panel">
                <ul class="collapsible">
                    <li>
                        <h5 class="collapsible-header">My Favourites</h5>
                        <div class="collapsible-body">
                            {% if (myfavourites is not defined) or (myfavourites|length == 0) %}
                                <p>You have no favourites yet.</p>
                            {% else %}
                                {% include "my_favourites.html" %}
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/image-render.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var imgs = document.getElementsByClassName('recipe-img');
        handle(imgs);
    });
</script>
{% endblock %}


