{% extends "base_overlay.html" %}
{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data" id="builder-form">
        <div class="card-panel">
            <!-- header -->
            <div class="row form-header">
                <h5>My Recipe Builder</h5>
            </div>
            <!-- preview -->
            <div class="row">
                <div class="input-field col s12 center">
                    <button class="btn waves-effect waves-light cyan" type="submit" id="preview-recipe" name="preview"
                        formaction="/previewrecipe">Preview Recipe</button>
                </div>
            </div>
            <!-------title------->
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" name="title" type="text" class="validate" minlength="1" maxlength="60"
                        pattern="^.{1,60}$" required>
                    <label for="username">Recipe Title</label>
                </div>
            </div>
            <!-------description------->
            <div class="row">
                <div class="input-field col s12">
                    <input id="desc" name="desc" type="text" class="validate" minlength="1" maxlength="200"
                        pattern="^.{1,200}$" required>
                    <label for="username">Describe your recipe</label>
                </div>
            </div>
            <!-------image------->
            <div class="row">
                <div class="file-field input-field">
                    <div class="row">
                        <div class="col s12">
                            <div class="btn pink darken-4">
                                <span>Select Image</span>
                                <input type="file" accept="image/*" name="recipe_img" onchange="loadPreviewFile(event)">
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="builder-img-wrapper">
                                <img id="builder-preview-img"/>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" name="recipe_img_name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-------portions------->
            <div class="row">
                <div class="col s12">
                    <label for="portions">Portions</label>
                    <p class="range-field">
                        <input type="range" name="portions" id="portions" min="1" max="24" value="1" />
                    </p>
                </div>
            </div>
            <!-------suitable for months min------->
            <div class="row">
                <div class="col s12">
                    <label for="portions">Suitable for months (min)</label>
                    <p class="range-field">
                        <input type="range" name="min" id="min" min="1" max="72" value="1" />
                    </p>
                </div>
            </div>
            <!-------suitable for months max------->
            <div class="row">
                <div class="col s12">
                    <label for="portions">Suitable for months (max)</label>
                    <p class="range-field">
                        <input type="range" name="max" id="max" min="1" max="72" value="72" />
                    </p>
                </div>
            </div>
            <!-------ingredients------->
            <div class="row cyan lighten-5 builder-extra-row">
                <div class="col s12">
                    <label>Ingredients</label>
                    <br>
                    <div class="container ingredients">
                    </div>
                    <br>
                    <a class="btn waves-effect waves-light" id="builder-add-ingredient">+ Ingredient</a>
                </div>
            </div>
            <br>
            <!-------method------->
            <div class="row cyan lighten-5 builder-extra-row">
                <div class="col s12">
                    <label>Method</label>
                    <br>
                    <div class="container steps">
                    </div>
                    <br>
                    <a class="btn waves-effect waves-light" id="builder-add-step">+ Step</a>
                </div>
            </div>
            <!-------submit------->
            <div class="row">
                <!-------submit btn------->
                <div class="col s12 m3 offset-m3">    
                    <div class="input-field col s12 center">
                        <button class="btn waves-effect waves-light orange" type="submit" id="submit-builder" name="submit" formaction="/addrecipe">Submit</button>
                    </div>
                </div>
                <!-------reset btn------->
                <div class="col s12 m3">
                    <div class="input-field col s12 center">
                        <button class="btn waves-effect waves-light red" type="reset" id="reset-builder" name="reset" onclick="clearOnReset()">Reset</button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </form>
</div>

<script>
    var loadPreviewFile = function(event){ 
        if(event.target.files[0].size > (1024 * 1024)){
            $('input[name="recipe_img"]').val('')
            $('input[name="recipe_img_name"]').val('');
            alert('file is too large, please select another');
            return;
        }
        $('#builder-preview-img').attr("src", URL.createObjectURL(event.target.files[0]));
    };

    function clearOnReset(){
        if(confirm('Are you sure you want to cancel changes?')){
            $('#builder-preview-img').attr("src", "");
        }
    }
</script>

{% endblock %}