{% block recipecard %}
<div class="card recipe-card food-bg">
    <div class="row card-content lime lighten-5">
        <div class="col s12">
            <h5>{{ recipecard.title|title }}</h5>
            {% if (recipecard.created_by == session.user) and (recipecard.context is not defined) %}
                <form action="/editrecipe" method="post">
                    <input type="text" value="{{ recipecard._id }}" name="_id" style="display: none;">
                    <button type="submit" name="edit" class="recipe-edit btn waves-effect waves-light green"><i class="material-icons">edit</i></button>
                </form>
            {% elif recipecard.isfavourite is defined %}
                <form class="tooltip"> 
                    <span class="tooltiptext">{% if recipecard.isfavourite %} Remove Favourite {% else %} Favourite this recipe {% endif %}</span>
                    <input type="text" value="{{ recipecard._id }}" name="_id" style="display: none;">
                    <input type="text" value="{{ recipecard.isfavourite }}" name="isfavourite" style="display: none;">
                    <button type="submit" name="add-favourite" class="add-favourite btn waves-effect waves-light {{ 'light-green' if recipecard.isfavourite }} {{ 'purple' if not recipecard.isfavourite }}"><i class="material-icons">bookmark_border</i></button>
                </form>
            {% endif %}
        </div>
        <div class="col s2">
            
        </div>
        <div class="col s12">
            <p class="recipe-created-by"><i>by {{ recipecard.created_by }}</i></p>
        </div>
    </div>
    <div class="row prep-time lime lighten-5">
        <div class="col s6">
            <p class="recipe-prep-time"><i class="material-icons">access_time</i> Preparation Time:
                {% if recipecard.prep_time is defined %}
                    {{ recipecard.prep_time|int }} mins</p>
                {% endif %}
        </div>
        <div class="col s6">
            <p class="recipe-cook-time"><i class="material-icons">restaurant</i> Cooking Time:
                {% if recipecard.cook_time is defined %}
                    {{ recipecard.cook_time|int }} mins</p>
                {% endif %}
        </div>
    </div>
    <div class="recipe-img-wrapper">
        {% if recipecard.recipe_img %}
            <img class="recipe-img" src="../static/images/public/{{ recipecard.recipe_img }}">
        {% endif %}
    </div>
    <div class="row">
        <div class="col s6 offset-s3 tooltip center-align">
            <span class="tooltiptext center-align"> Click to see more </span>
            <a class="expand-content center-align black-text"><i class="material-icons">expand_more</i></a>
        </div>
    </div>
    <div class="card-tabs" style="display: none;">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="desc-tab tab-link grey darken-3 light-green-text active"><i class="material-icons">border_color</i></a></li>
            <li class="tab"><a class="ingredients-tab tab-link light-green-text text-lighten-1"><i class="material-icons">format_list_bulleted</i></a></li>
            <li class="tab"><a class="method-tab tab-link light-green-text text-lighten-2"><i class="material-icons">av_timer</i></a></li>
        </ul>
    </div>
    <div class="card-tab-content lime lighten-5" style="display: none;">
        <div class="desc-content" style="display: none;">
            <h6><i>{{ recipecard.desc }}</i></h6>
            <p><i>Portions: {{ recipecard.portions }}</i></p>
            <p><i>Suitable for: {{ recipecard.suitableForMinMnths }} - {{ recipecard.suitableForMaxMnths }} months</i>
            </p>
        </div>
        <div class="ingredients-content" style="display: none;">
            <h6>Ingredients</h6>
            {% if recipecard.ingredients is defined %}
                {% for k, ingredient in recipecard.ingredients.items() %}
                    <p>- {{ ingredient.name|capitalize }} - {{ ingredient.qty.measure }}{{ ingredient.qty.unit }}</p>
                {% endfor %}
            {% else %}
                NONE
            {% endif %}
        </div>
        <div class="method-content" style="display: none;">
            {% if recipecard.steps is defined %}
                <h6><i class="material-icons">access_time</i> Preparation:</h6>
                {% for k, step in recipecard.steps.items() %}
                    {% if step.type == "prepare" %}
                        <p>- {{ step.action|capitalize }} <i>({{ step.time|int }} mins)</i></p>
                    {% endif %}
                {% endfor %}
                <br>
                <h6><i class="material-icons">restaurant</i> Method:</h6>
                {% for k, step in recipecard.steps.items() %}
                    {% if step.type == "cook" %}
                        <p>- {{ step.action|capitalize }} <i>({{ step.time|int }} mins)</i></p>
                    {% endif %}
                {% endfor %}
            {% else %}
                NONE
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}