{% extends "base.html" %}
{% block content %}
    {% for recipe in recipes %}
        <h2>{{recipe.title}}</h2><br>
        {{recipe.desc}}<br>
        {{recipe.portions}}<br>
        <p><strong>Ingredients</strong></p>
        {% for k,v in recipe.ingredients.items() %} 
            {% for k,v in v.items() %}
               <span>----------- {{k}}: {{v}}</span><br>
            {% endfor %}<br><br>
        {% endfor %}<br>
        <p><strong>Steps</strong></p>
        {% for item in recipe.steps.values() %}
            {% for k,v in item.items() %}
                {% if k == 'time' %}
                    <span>---------- {{k}}: {{v}} mins</span><br>
                {% else %}
                    <span>---------- {{k}}: {{v}}</span><br>
                {% endif%}
            {% endfor %}<br>
        {% endfor %}<br>
    {% endfor %}
{% endblock %}
