{% extends "base_overlay.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="search-wrapper">
        <!-- search bar-->
        <section class="search-form">
            <div class="container">
                <div class="card-panel">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </section>

        <!-- search results-->
        <section class="search-results">
            <div class="container">
                <div class="card-panel">
                        {% if results|length %}
                            {% for recipecard in results %}
                                {% if loop.index is not divisibleby 2 %}
                                        <div class="row">
                                            <div class="col s12 m6">
                                                {% include "recipe_card.html" %}
                                            </div>
                                        {% if loop.index == results|length %}
                                        </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="col s12 m6">
                                        {% include "recipe_card.html" %}
                                        </div>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        {% else %}
                            <p>no results found</p>
                        {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}