{% extends "base_overlay.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="search-wrapper">
        <section class="search-form">
            <div class="container">
                <div class="card-panel">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </section>

        <section class="search-results">
            <div class="container">
                <div class="card-panel">
                {% if results|length %}
                <div class="row">
                {% for recipecard in results %}
                        <div class="col s12 m6">
                            {% include "recipe_card.html" %}
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <p>no results found</p>
                {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
